.admin-container {
    display: flex;
    justify-content: space-between;
}

.admin-sidebar {
    width: 25%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.admin-sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.admin-sidebar a:hover {
    background-color: #555;
}

.admin-main-content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
}

.admin-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #555;
}